.OuterComponent {
	margin: 2rem;
	/* border: solid 0.005px black; */
	width: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 1rem;
	background-color: white;
	box-shadow: thistle;
}

.InnerComponent {
	/* width: 500px; */
	display: flex;
	align-items: center;
	justify-self: center;
	background-color: white;
	flex-direction: column;

	/* justify-content: space-evenly; */
	margin: 2rem;
	/* box-shadow: thistle; */
}
.Button {
	display: flex;
	text-justify: center;
	justify-self: center;
	text-align: center;
}
.UpperText {
	border-radius: 50px;
}

.LowerText {
	border-radius: 25px;
}
