.App {
	text-align: center;
	background-color: #f0f2f5;
	font-family: "Montserrat", sans-serif;
}

.App {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}
.CardInput {
	text-align: start;
}

.Scrolls {
	display: flex;
	justify-content: center;
	align-content: space-around;
	overflow: hidden;
}

.CardList {
	display: flex;
	justify-self: center;
	align-items: space-around;
	overflow-y: scroll;
}
