.App {
	text-align: center;
}

.App {
	display: flex;
	align-items: center;
	justify-content: center;
}

.Scrolls {
	display: flex;
	justify-content: center;
	align-content: space-around;
	overflow: hidden;
}

.CardList {
	display: flex;
	justify-self: center;
	align-items: space-around;
	overflow-y: scroll;
}
